.biography-page{
  .title-section{
    .author-info{
      margin: 68px auto;
      align-items: center;
      max-width: 1020px;
      &.second{
        .info-box{
          padding-left: 0;
          padding-right: 75px;
        }
        .img-box{
          order: 1;
        }
      }
      .img-box{
        width: 37%;
        .bg-box{
          position: relative;
          top: 0;
          left: 0;
          &::before{
            content: " ";
            background-color: #bf1344;
            display: block;
            position: absolute;
            left: -10px;
            top: -10px;
            height: 100%;
            width: 100%;
          }
          .people-photo{
            position: relative;
            width: 100%;
          }
        }
        
      }
      .info-box{
        width: 63%;
        padding-left: 75px;
        padding-top: 60px;
        p{
          font-size: 16px;
          line-height: 30px;
          color: #000000;
          font-family: "Roboto";
          font-weight: 500;
          &::first-letter {
            font-size: 200%;
          }
        }
      }
    }

  }
  .book-section{
    background-image:  url('./../../img/about.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    .book-width{
      padding: 48px 0 24px 0;
      max-width: 1020px;
      margin: 0 auto;
      // align-items: center;
      .info-box, .img-box{
        width: 50%;
      }
      .media-list{
        display: flex;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        margin: 24px 0;
        .item-content{
          align-items: center;
          padding-right: 16px;
          margin: 24px 0;
          &.width-50{
            width: 50%;
          }
          &.width-100{
            width: 100%;
          }
          .item-media{
            width: 80px;
            height: 80px;
            border-radius: 40px;
            filter: drop-shadow(-1.04px -4.891px 9px rgba(0,17,45,0.03));
            box-shadow: -1.04px -4.891px 9px rgba(0,17,45,0.03);
            background-color: #ffffff;
            display: flex;
            align-self: center;
            justify-content: center;
            padding: 24px;
          }
          .item-inner{
            padding-left: 18px;
            width: calc(100% - 80px);
            .item-header{
              font-size: 14px;
              line-height: 1.5;
              color: #000000;
              font-weight: 400;
              font-family: "Roboto";
            }
            .item-title{
              font-size: 18px;
              line-height: 30px;
              color: #000000;
              font-weight: 700;
              font-family: "Roboto";
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1399.98px) {
  
}
@media (max-width: 1199.98px) {}
@media (max-width: 991.98px) {

  .biography-page .title-section .author-info {
    margin: 24px auto;
  }
  .biography-page .title-section .author-info.second .img-box{
    order: unset;
  }
  .biography-page .title-section .author-info .img-box{
    width: 100%;
    margin-bottom: 16px;
  }
  .biography-page .title-section .author-info .img-box .bg-box {
    width: 300px;
    margin: 0 auto;
  }
  .biography-page .title-section .author-info .info-box{
    width: 100%;
    padding: 0;
    margin-bottom: 24px;
  }
  .biography-page .title-section .author-info .info-box p {
    font-size: 14px;
    line-height: 1.5;
  }
  .biography-page .book-section .book-width .info-box, .biography-page .book-section .book-width .img-box{
    width: 100%;
  }
  .biography-page .book-section .book-width{
    padding: 0;
  }
  .biography-page .book-section .book-width .media-list .item-content {
    align-items: center;
    padding-right: 16px;
    margin: 12px 0;
  }
  .biography-page .book-section .book-width .media-list .item-content .item-inner .item-title {
    font-size: 16px;
    line-height: 1.5;
  }
  .biography-page .book-section .book-width .media-list .item-content .item-media {
    width: 60px;
    height: 60px;
    padding: 16px;
  }
  .biography-page .title-section .author-info.second .info-box {
    padding: 0;
    // padding-right: 75px;
  }
}
@media (max-width: 767.98px) {
  .biography-page .book-section .book-width .media-list .item-content.width-50{
    width: 100%;
  }
}
@media (max-width: 575.98px) {}