// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page{
  .banner-section{
    padding: 60px 0 140px 0;
    position: relative;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, #ffffff 0%, #fbd9df 100%);
    // height: calc(100vh - 110px);
    .text-box, .img-box{
      width: 50%;
    }
    .text-box{
      align-self: center;
      text-align: center;
      padding: 60px 0 40px 0;
      .header-title{
        font-size: 69px;
        line-height: 1;
        color: #da0559;
        font-weight: 600;
        font-family: "Oswald";
      }
      h1{
        font-size: 90px;
        line-height: 1;
        color: #da0559;
        font-weight: 600;
        font-family: "Oswald";
        margin: 0;
        margin-bottom: 24px;
      }
      p{
        font-size: 24px;
        line-height: 1.5;
        color: #0a0200;
        font-weight: 600;
        font-family: "Montserrat";
      }
    }
    .img-box{
      padding: 0 80px;
    }
  }
  .about-section{
    margin-top: 160px;
    // background-color: #dac6ad;
    position: relative;
    top: 0;
    left: 0;
    background-image:  url('./../../img/about.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    .abs-img{
      position: absolute;
      top: 0;
      left: 0;
      &.type-writer{
        top:-180px;
        z-index: 2;
      }
      &.plant{
        left: 15%;
        top: -60px;
      }
      &.book{
        top: 90px;
        left: 25%;
      }
      &.pencil{
        left: 12%;
        top: 270px;
      }
    }
    .img-box, .info-box{
      width: 50%;
    }
    .img-box{
      // padding-right: 80px;
      img{
        margin-left: -80px;
      }
    }
    .info-box{
      padding-bottom: 60px;
      .off-title{
        font-size: 80px;
        line-height: 80px;
        color: #dac6ad;
        font-weight: 600;
        font-family: "Oswald";
        margin-top: -76px;
      }
      .title{
        font-size: 30px;
        color: #000000;
        font-weight: 700;
        font-family: "Roboto";
        // display: block;
        &::after{
          content: " ";
          display: inline-block;
          width: 85px;
          height: 2px;
          background-color: #da0559;
          margin-left: 8px;
        }
      }
      p{
        font-size: 14px;
        line-height: 28px;
        color: #000000;
        font-weight: 300;
        font-family: "Roboto";
        margin-bottom: 36px;
        display: none;
      }
    }
    // .img-section{
    //   position: relative;
    //   top: 0;
    //   left: 0;
    //   // background-image:  url('./../../img/type-writer.png'), url('./../../img/plant.png'), url('./../../img/book.png'), url('./../../img/pencil.png');
    //   // background-position: 0px -160px, calc(100% - 40px) 70%, 40px 70%, 40px 70%;
    //   // background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    // }
  }
  .feature-acc{
    padding: 80px 0;
    // background-color: url("./../../img/arrow.jpg");
    // background-image:  url('./../../img/trangle.png'), url('./../../img/circle.png'), url('./../../img/zigzag.png');
    // background-position: 40px 160px, calc(100% - 40px) 70%, 40px 70%;
    // background-repeat: no-repeat, no-repeat, no-repeat;
    background-color: #fde9d0;
    .title{
      font-size: 30px;
      line-height: 1;
      color: #000000;
      font-weight: 600;
      font-family: "Oswald";
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      padding-bottom: 24px;
      &::after{
        content: "";
        width: 40px;
        height: 2px;
        border-radius: 0px;
        background-color: #da0559;
        display: block;
        text-align: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
    .articles-carousel{
      margin-top: 40px;
      // .owl-next
      &.owl-carousel .owl-nav{
        text-align: center;
        margin-top: 48px;
        button{
          margin: 8px;
          &.owl-next{
            img{
              transform: rotate(-180deg);
            }
          }
        } 
      }
    }
    .art-card{
      background-color: #ffffff;
      padding: 12px;
      h3{
        font-size: 16px;
        line-height: 24px;
        color: #424851;
        font-weight: 600;
        font-family: "Poppins";
        min-height: 70px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p{
        // min-height: 52px;
        font-size: 14px;
        line-height: 1.5;
        color: #5d5d5d;
        font-weight: 400;
        font-family: "Poppins";
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .readmore{
        font-size: 14px;
        line-height: 1;
        text-decoration: underline;
        color: #da0559;
        font-weight: 400;
        font-family: "Poppins";
      }
      // .di-flex{
      //   display: inline-flex;
      // }
      .date-box{
        width: 50%;
        display: inline-flex;
        align-items: center;
        padding: 0 4px;
        flex-wrap: nowrap;
        margin: 8px 0;

        // word-wrap: ;
        .text{
          font-family: merriweather, serif;
          font-weight: 700;
          font-style: normal;
          color: #5d5d5d;
          font-style: italic;
          font-size: 12px;
          margin-left: 8px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}